@mixin border-box(
    $weightLeft,
    $weightRight,
	$weightTop,
	$weightBottom,
	$padding,
	$color,
	$display,
    $justifyContent
) {
    display: $display;
    justify-content: $justifyContent;
    padding: $padding;
    border-style: solid;
    border-color: $color;
    border-width: $weightTop $weightRight $weightBottom $weightLeft;
}